* {
  margin: 1;
  padding-left: 2;
  font-family: 'Agave Nerd Font';
  font-size: 20px;
  color: #ffffff;
  background: transparent;
}

#waybar {
  background: transparent;
  /* border-top: 2px solid #aaaaaa; */
  border-radius: 0px;
}

#custom-arch {
  margin-left: 20;
  margin-right: 10;
}

#custom-rof {
  margin-right: 10;
}

#workspaces {
  transition: none;
  box-shadow: none;
  text-shadow: none;
  margin-right: 10;
}

#workspaces:hover {
  transition: none;
}

#workspaces button {
  margin-left: 0;
  margin-right: 0;
  box-shadow: none;
  text-shadow: none;
  transition: none;
}

#workspaces button:hover {
  border: none;
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
  animation: none;

}

#backlight,
#pulseaudio,
#bluetooth,
#network,
#battery {}

#clock {}
