* {
  margin: 0;
  padding: 0;
  padding-top: 1;
  padding-bottom: 1;
  border: none;
  font-family: 'JetbrainsMono NF';
  font-size: 22px;
  color: #9ccfd8;
  /* background: #1e1e1e; */
  /* TOKYO */
  background: transparent;
}

#waybar {
  background: #191724;
}

#custom-arch {
  margin-left: 10;
}

#workspaces {
  margin-left: 10;
}

#workspaces button {
  margin-left: 8;
  margin-right: 8;
  box-shadow: none;
  text-shadow: none;
}

#workspaces button:hover {
  border: none;
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
}

#backlight,
#pulseaudio,
#bluetooth,
#network,
#battery {
  padding-left: 10;
  padding-right: 10;
}

#clock {
  margin-right: 10;
}
