* {
  border: none;
  font-family: 'Agave Nerd Font';
  font-size: 10px;
  color: #a8c9ff;
  background: #1a1b26;
  /* background: transparent; */
}

window#waybar {
  background: transparent;
}

#custom-arch,
#workspaces {
  border-radius: 10px;
}

#custom-arch {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
}

#workspaces {
  padding-left: 10px;
  padding-right: 10px;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
}

#workspaces button:hover {
  border: none;
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
}

#clock,
#backlight,
#pulseaudio,
#bluetooth,
#network,
#battery {
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
}

#backlight,
#bluetooth {
  padding-right: 5px;
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#pulseaudio,
#network {
  border-left: 0px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 5px;
}

#clock {
  margin-right: 10px;
}